*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    /* regole header */
    header{
        background-color: orange;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #header-nav{
        display: flex;
        
    }


    .link{
        color: white;
        font-size: 20px;
    }


    .menu-space{
        padding-right: 5px;
    }






    /* regole main */

    .product_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 40px 400px ;
    }
    
    .product{
        width: 32%;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        position: relative;
    }

    .product img{
       max-width: 100%;
    }


    .heart{
        padding: 5px 15px ;
        background-color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        right: 0;
        z-index: 10;
    }
    
    .label_discount {
        background-color: red;
        position: absolute;
        top: 450px;
        left: 0;
        z-index: 10;
        color: white;
        padding: 4px ;
        font-size: 15px;
    }

    .sostenibilità{
        background-color: green;
        position: absolute;
        top: 450px;
        left: 43px;
        z-index: 11;
        color: white;
        padding: 4px ;
        font-size: 15px;
    }
    

    .sostenibilità-2{
        background-color: green;
        position: absolute;
        top: 450px;
        left: 0px;
        z-index: 11;
        color: white;
        padding: 4px ;
        font-size: 15px;
    }

    
    .description{
        text-align: left;
       
    }

    .price{
        color: red;
        
    }

    /* regole footer */
    footer{
        background-color: black;
        height: 100px;
        width: 100%;
    }